#adminForm {
    position: relative;
}

.rsdir-entry,
.rsdir-credit-package {
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #cacaca;
}

#rs_tt {
    padding: 10px;
    background-color: #FFF;
    border: 1px solid #E6E6E6;
    display: block;
    position: absolute;
}

.rsdir-categories-list {
    list-style: none !important;
    margin: 0 !important;
}

.recaptchatable td {
    line-height: normal !important;
}

.rsdir-listing {
	border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 10px;
    position: relative;
}

.rsdir-listing-promoted {
	border: 1px solid #ddd;
	border-color: rgba(70, 136, 71, .50);
	background-color: rgba(70, 136, 71, .05);
}

#rsdir-map-search-results .rsdir-map-promoted td,
#rsdir-map-results .rsdir-map-promoted td {
	border-color: rgba(70, 136, 71, .50);
	background-color: rgba(70, 136, 71, .05);
}

.rsdir-listing-promoted .rsdir-price-wrapper {
	background-color: rgba(70, 136, 71, .75);
	border-color: rgb(70, 136, 71);
	color: #fff;
}

.rsdir-listing-unpublished,
.rsdir-listing-expired {
    background-color: #fbeeee;
	border-color: #e48b8b;
}

.rsdir-listing-unpublished .rsdir-price-wrapper,
.rsdir-listing-expired .rsdir-price-wrapper {
	background-color: #e48b8b;
	border-color: #d85a5a;
	color: #fff;
}

.rsdir-listing-thumb-wrapper {
    margin-bottom: 10px;
	text-align: center;
}

.rsdir-listing .thumbnail {
    position: relative;
    margin: 0 auto 9px auto;
}

.rsdir-listing-images-count {
    position: absolute;
    bottom: 4px;
    right: 4px;
	display: none;
}

.rsdir-listing-thumb-wrapper .rsdir-listing-images-count {
	display: none;
}

.rsdir-listing-thumb-wrapper:hover .rsdir-listing-images-count {
	display: block;
}

.rsdir-listing-title {
    font-weight: normal;
    font-size: 17px;
    margin-top: 0;
}

.rsdir-listing-big-subtitle {
    font-size: 14px;
}

.rsdir-listing-small-subtitle {
    margin: 12px 0;
    font-size: 12px;
}

.rsdir-listing-rating-wrap {
    margin-bottom: 12px;
    line-height: 19px;
    height: 24px;
	text-align: center;
}

.rsdir-listing-rating {
    display: inline-block;
}

.rsdir-listing-price,
.rsdir-detail-price {
    font-size: 16px;
	text-align: center;
}

.rsdir-listing-price-label,
.rsdir-detail-price-label {
    font-size: 15px;
}

.rsdir-listing-expiry-date {
    font-size: 14px;
    font-weight: bold;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    padding: 15px 0;
    margin-bottom: 15px;
}

.rsdir-detail-expiry-date {
    padding: 6px 8px 0 8px;
}

.rsdir-listing-expiry-date-label {
    color: #b2b2b2;
}

.rsdir-listing-meta,
.rsdir-detail-meta {
    font-size: 12px;
}

/* Portrait tablet to landscape and desktop */
@media (max-width: 970px) {
    .rsdir-listing-rating-wrap {
        text-align: center;
    }
}

#rsdir-gallery .thumbnails {
    margin: auto auto 10px auto;
}

#rsdir-gallery .thumbnail {
    cursor: pointer;
}

.rsdir-detail-title {
    font-size: 20px;
}

.rsdir-detail-section,
.rsdir-detail-section-title {
    border-bottom: 1px solid #eee;
    margin: 14px 0 10px 0;
    padding-bottom: 15px;
}

.rsdir-detail-big-subtitle,
.rsdir-detail-section-title {
    font-size: 16px;
}

.rsdir-youtube-video {
    margin-bottom: 15px;
}

.rsdir-detail-rating-wrapper {
    line-height: 16px;
}

.rsdir-detail-rating {
    display: inline-block;
    width: 96px !important;
}

.rsdir-detail-rating > img {
    float: left;
}

.rsdir-detail-caption {
    font-weight: bold;
}

.rsdir-detail-value {
    display: inline;
}

.fb-comments, .fb-comments iframe[style], .fb-like-box, .fb-like-box iframe[style] {width: 100% !important;}
.fb-comments span, .fb-comments iframe span[style], .fb-like-box span, .fb-like-box iframe span[style] {width: 100% !important;}

.rsdir-transaction-details .control-label {
    padding-top: 0 !important;
}

.rsdir-transaction-details .label {
    font-size: inherit;
}

.media .media,
.media .media-more,
.media .media-less {
    margin-left: 30px;
}

.rsdir-categories-list .media {
    margin-top: 0 !important;
}

.rsdir-filter-bar select {
    margin-left: 5px !important;
}

.rsdir-sep {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #EEEEEE -moz-use-text-color #FFFFFF;
    border-image: none;
    border-left: 0 none;
    border-right: 0 none;
    border-style: solid none;
    border-width: 1px 0;
    margin: 20px 10%;
}

.control-group .rsdir-placeholders {
	margin-top: -9px !important;
}

.rsdir-info-window {
    overflow: hidden;
}

.rsdir-load-more {
    text-align: center;
}

.rsdir-load-more .btn {
    width: 40%;
}

.mfp-s-loading .mfp-arrow { 
   display: none;
}

#rsdir-captcha-refresh:before,
.rsdir-toggle-help:before,
.rsdir-add-file-upload .icon-plus:before,
.rsdir-entry-fav .icon-star:before,
.rsdir-entry-fav .icon-star-empty:before {
	content: none !important;
}

#rsdir-captcha-refresh,
.rsdir-toggle-help,
.rsdir-add-file-upload .icon-plus,
.rsdir-entry-fav .icon-star,
.rsdir-entry-fav .icon-star-empty {
	background-image: url(../images/glyphicons-halflings.png) !important;
	background-repeat: no-repeat !important;
	display: inline-block !important;
	height: 14px !important;
	line-height: 14px !important;
	margin-top: 1px !important;
	vertical-align: text-top !important;
	width: 14px !important;
}

#rsdir-captcha-refresh {
	background-position: -240px -23px !important;
}

.rsdir-toggle-help {
  background-position: -96px -96px !important;
}

.rsdir-add-file-upload .icon-plus {
	background-position: -408px -96px !important;
}

.rsdir-entry-fav .icon-star {
    background-position: -120px 0 !important;
}

.rsdir-entry-fav .icon-star-empty {
    background-position: -144px 0 !important;
}

.rsdir .form-horizontal .control-label {
    text-align: left;
}

.rsdir .controls > .radio:first-child,
.rsdir .controls > .checkbox:first-child {
    padding-top: 0;
}

.rsdir-filter-caption {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: bold;
}

.rsdir-filter-more {
    display: block;
}

.rsdir-filter-more.for-inline {
    margin-top: 5px;
}

.rsdir-iframe-modal .modal-body {
	max-height: none;
}

.rsdir-iframe-modal iframe {
	border: none;
	width: 100%;
}

.rsdir-contact-modal.modal, #rsdir-report-modal {
	margin: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

.rsdir-contact-modal .modal-body, #rsdir-report-modal .modal-body {
	max-height: 100%;
}

.rsdir-loader {
	background:url("../images/loader.gif");
	background-position: center;
	background-repeat: no-repeat;
}

.rsdir-contact-btn-wrapper {
	text-align: center;
}

.row-fluid.rsdir-3-columns > .span4 .rsdir-listing-detail-part,
.row-fluid.rsdir-3-columns > .span4 .rsdir-listing-thumb-part,
.row-fluid.rsdir-3-columns > .span6 .rsdir-listing-detail-part,
.row-fluid.rsdir-3-columns > .span6 .rsdir-listing-thumb-part,
.row-fluid.rsdir-2-columns > .span6 .rsdir-listing-detail-part,
.row-fluid.rsdir-2-columns > .span6 .rsdir-listing-thumb-part {
    width: 100%;
    margin: 0;
}

/* letters well */
.rsdir .rsdir-letters .alpha-link {
    display:inline-block;
    margin: 5px 0px;
}
.rsdir .rsdir-letters .alpha-link.alpha-no-link {
    padding:10px;
    background:#788cb0;
    color:#ffffff;
}
.rsdir .rsdir-letters .alpha-link a{
    color:#ffffff;
    display:block;
    padding:10px;
    background:#3060b4;
    text-decoration: none;
}
.rsdir .rsdir-letters .alpha-link a:hover {
    background: #457cdd;
    transform: scale(1.1,1.1);
}

.rsdir .rsdir-letters .alpha-link.selected.alpha-no-link,
.rsdir .rsdir-letters .alpha-link.selected a:hover,
.rsdir .rsdir-letters .alpha-link.selected a{
    background: #457cdd;
}

@media (max-width: 767px) {
	.rsdir-contact-modal.modal, #rsdir-report-modal {
		width: 70% !important;
	}
}

@media (max-width: 480px) {
	.rsdir-contact-modal.modal, #rsdir-report-modal {
		width: 85% !important;
	}
}

@media (max-width: 320px) {
	.rsdir-contact-modal.modal, #rsdir-report-modal {
		width: 95% !important;
	}
}

/* modal fixes */
.rsdir-contact-modal .modal-body *, 
#rsdir-report-modal .modal-body *{
	box-sizing:border-box;
}

.rsdir-contact-modal .modal-body .control-group select, 
.rsdir-contact-modal .modal-body .control-group input[type="text"], 
.rsdir-contact-modal .modal-body .control-group input[type="password"], 
.rsdir-contact-modal .modal-body .control-group input[type="datetime"], 
.rsdir-contact-modal .modal-body .control-group input[type="datetime-local"], 
.rsdir-contact-modal .modal-body .control-group input[type="date"], 
.rsdir-contact-modal .modal-body .control-group input[type="month"], 
.rsdir-contact-modal .modal-body .control-group input[type="time"], 
.rsdir-contact-modal .modal-body .control-group input[type="week"], 
.rsdir-contact-modal .modal-body .control-group input[type="number"], 
.rsdir-contact-modal .modal-body .control-group input[type="email"], 
.rsdir-contact-modal .modal-body .control-group input[type="url"], 
.rsdir-contact-modal .modal-body .control-group input[type="search"], 
.rsdir-contact-modal .modal-body .control-group input[type="tel"], 
.rsdir-contact-modal .modal-body .control-group input[type="color"], 
.rsdir-contact-modal .modal-body .control-group .uneditable-input {
	height: 28px;
}

#rsdir-report-modal .modal-body .control-group select, 
#rsdir-report-modal .modal-body .control-group input[type="text"], 
#rsdir-report-modal .modal-body .control-group input[type="password"], 
#rsdir-report-modal .modal-body .control-group input[type="datetime"], 
#rsdir-report-modal .modal-body .control-group input[type="datetime-local"], 
#rsdir-report-modal .modal-body .control-group input[type="date"], 
#rsdir-report-modal .modal-body .control-group input[type="month"], 
#rsdir-report-modal .modal-body .control-group input[type="time"], 
#rsdir-report-modal .modal-body .control-group input[type="week"], 
#rsdir-report-modal .modal-body .control-group input[type="number"], 
#rsdir-report-modal .modal-body .control-group input[type="email"], 
#rsdir-report-modal .modal-body .control-group input[type="url"], 
#rsdir-report-modal .modal-body .control-group input[type="search"], 
#rsdir-report-modal .modal-body .control-group input[type="tel"], 
#rsdir-report-modal .modal-body .control-group input[type="color"], 
#rsdir-report-modal .modal-body .control-group .uneditable-input {
	height: 28px;
}

.rsdir-disbale-scroll {
	overflow:hidden;
}

#rsdirectory_remove_data_and_close_account
{
    display: none;
}

/* Magnific Popup Contact */
.rsdir-contact-magnific-popup {
    background:#ffffff;
    margin:20px auto;
    padding:20px;
    position:relative;
    display:none;
}
.rsdir-report-magnific-popup, .rsdir-owner-reply-magnific-popup {
    background:#ffffff;
    margin:20px auto;
    padding:20px;
    position:relative;
}
.rsdir-owner-reply-magnific-popup {
    width:80%;
}
.rsdir-report-magnific-popup iframe, .rsdir-owner-reply-magnific-popup iframe {
    width:100%;
    border: 0px;
}
.rsdir-report-magnific-popup .magnific-header h3, .rsdir-owner-reply-magnific-popup .magnific-header h3{
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

@media (max-width: 767px) {
    .rsdir-contact-magnific-popup, .rsdir-report-magnific-popup, .rsdir-owner-reply-magnific-popup {
        width: 70% !important;
    }
}

@media (max-width: 480px) {
    .rsdir-contact-magnific-popup, .rsdir-report-magnific-popup, .rsdir-owner-reply-magnific-popup {
        width: 85% !important;
    }
}

@media (max-width: 320px) {
    .rsdir-contact-magnific-popup, .rsdir-report-magnific-popup, .rsdir-owner-reply-magnific-popup {
        width: 95% !important;
    }
}

