.rsdir-filter-form .chzn-container ul {
    padding: 0 !important;
    margin: 0 !important;
}
.rsdir-filtering-categories {
    width: 200px !important;
    max-width: 100%;
}
.rsdir-filter-categories .badge {
	border-radius: 3px;
	float: right;
}
.rsdir-range-filter .rsdir-custom-range {
    margin:-10px 2px 0 0;
}
.rsdir-range-filter .icon-search:before {
    content: none;
}
.rsdir-range-filter .icon-search {
    cursor: pointer;
}
.rsdir-filter-caption {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: bold;
}
.rsdir-filter-more {
    display: block;
}
.rsdir-filter-more.for-inline {
    margin-top: 5px;
}
.rsdir-filter-form .rsdir-dropdown,
.rsdir-filter-form .rsdir-textbox {
    width: 100%;
}
form.rsdir-filter-form {
	overflow: visible;
}
[id^=rsdir-sliding-range] {
	margin-bottom: 10px;
}
[id^=rsdir-sliding-range] .slider-track-high {
	background: #ddd;
}
[id^=rsdir-sliding-range] .slider-track-low {
	background: #ddd;
}
[id^=rsdir-sliding-range] .slider-selection {
	background: #777;
}
.rsdir-filter-sliding-range-values {
	font-size: 18px;
}